{% extends 'base.html' %}

{% block title %}
&minus; Signed
{% endblock %}

{% block content %}
    <div class="frame-box">
    <div class="inner-box"><h1>Profile</h1>
    {% if saved %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Yay!</strong> Your data successfully saved. It's time to code!
    </div>
    {% endif %}
    <div class="row">
        <div class="span4 profile">
            <p class="lead">Please fill details below: </p>
            <form id="" method="POST">{% csrf_token %}
                {{ form }}<br/>
                <input type="submit" value="Save" class="btn purple"/>
            </form>
        </div>
        <div class="span4">
            <p>To unlock achievements you need to provide your Trac and Github logins.
            Some achievements are available only for pull requests in Github and some only 
            for Trac (probably there is more for the latter).
            </p>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
