{% extends 'base.html' %}

{% block title %}
&minus; Signed
{% endblock %}

{% block content %}
    <h1>Edit your details</h1>
    {% if saved %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Yay!</strong> Your data successfully saved. It's time to code!
    </div>
    {% endif %}
    <div class="row">
        <div class="span4">
            <p>Please fill details below: </p>
            <form id="" method="POST">{% csrf_token %}
                {{ form }}<br/>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </form>
        </div>
        <div class="span4">
            <p>To unlock achievements you need to provide your Trac and Github logins.
            Some achievements are available only for pull requests in Github and some only 
            for Trac (probably there is more for the latter).
            </p>
        </div>
    </div>
{% endblock %}
