h1, h2, h3, h4, h5, a {
    font-family: "Text Me One";
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 36px;
}

.achievement-list li {
    display: inline;
}

.achievement-list  {
    margin: 0;
    padding-left: 0;
}

img.size_64 {
    height: 64px; 
    width: 64px; 
}

img.size_128 {
    height: 128px; 
    width: 128px; 
}

.table .score {
    font-size: 36pt;
    line-height: 64px;
}

.table .sprinter a {
    line-height: 64px;
    font-size: 16pt;
}

.table .rank {
    line-height: 64px;
    font-size: 26pt;
    color: #d5d5d5;
    padding-left: 26px;
}

.menu {
    float: right;
    margin-top: 36px;
}

.achievement-name {
    font-weight: bold;
}

.achievement-info {
    margin-top: 36px;
}

.avatar {
    margin-top: 36px;
}

.achievement-icon, .sprinter-icon {
    min-width: 66px;
}

#ranking {
    min-height: 500px;
}
