{% load compress staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Django Sprinter {% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Text+Me+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sprinter.css" type="text/css" media="screen, projection">
    {% block css %}
    {% compress css %}
    {% endcompress %}
    {% endblock %}
</head>

<body>
    <div class='container'>
        {% block navigation %}
        <ul class="nav nav-pills menu">
            <li {% if active == 'board' %}class="active"{% endif %}><a href="{% url 'board' %}">Ranking</a></li>
            <li {% if active == 'achievements' %}class="active"{% endif %}><a href="#">Achievements</a></li>
            {% if user.is_authenticated %}
                <li {% if active == 'home' %}class="active"{% endif %}><a href="{% url 'home' %}">My score</a></li>
                <li {% if active == 'edit' %}class="active"{% endif %}><a href="{% url 'edit_profile' %}">Edit profile</a></li>
                <li><a class="btn" href="{% url 'signout' %}">Sign out</a></li>
            {% else %}
                <li><a class="btn" href="{% url 'signin' %}">Join</a></li>
            {% endif %}
        </ul>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    {% block js %}
    {% compress js %}
    {% endcompress %}
    {% endblock %}
</body>
</html>
