{% extends 'base.html' %}

{% block title %}
&minus; Achievement: {{ achievement }}
{% endblock %}

{% block content %}
<div class="frame-box">
<div class="inner-box"><h1 id="achievement-name">{{ achievement }}</h1>
    <div class="row">
    <div class="span3 achievement-img">
        {% if achievement.picture %}<img src="{{ achievement.picture.url }}" title="{{ achievement }}" class="img-rounded size_128"/>{% endif %}
    </div>
    <div class="span8">
        <p class="lead">{{ achievement.description }}</p>
    </div>
    </div>
    <small id="credits">Pictures from <a href="http://game-icons.net">game-icons.net</a></small>
</div>
</div>
{% endblock %}
