{% extends 'base.html' %}

{% block title %}
&minus; Achievement: {{ achievement }}
{% endblock %}

{% block content %}
    <h1>{{ achievement }}</h1>
    <div class="row">
    <div class="span2">
        {% if achievement.picture %}<img src="{{ achievement.picture.url }}" title="{{ achievement }}" class="img-rounded size_128"/>{% endif %}
    </div>
    <div class="span8">
    <blockquote class="achievement-info">
        <p class="lead">{{ achievement.description }} lore ipsum, lorem ipsum sdfhuas sidufiasd sdhuch dsavadsiv nsdvhad.</p>
    </blockquote>
    </div>
    </div>
{% endblock %}
